<div class="container p-2 m-2">
  <div *ngIf="items.length === 0; else showItems">
    There are no items please click the above to add a new Item
  </div>

  <ng-template #showItems>
    <ul class="wish-list" *ngFor="let item of items; index as count">
      <li>
        <div class="form-check">
          <label class="form-check-label"></label>
          <input
            class="checkbox"
            type="checkbox"
            [checked]="item.isComplete"
          />
          {{ item.wishText }}
        </div>
      </li>
    </ul>
  </ng-template>
</div>
